@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(243, 192, 97);
}

header {
    text-align: center;
    margin-top: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

main {
    width: 350px;
    margin: 15px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}

form {
    font-size: 1.2em;
}

form label {
    padding: 5px;
}

form input[type=button] {
    padding: 5px;
    width: 100%;
    margin: 10px auto;
    background-color: rgba(95, 94, 91, 0.555);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

form input[type=button]:hover {
    background-color: rgba(165, 162, 154, 0.555);
}

footer {
    text-align: center;
}